*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
body{
  padding: 2%;
  padding-bottom:90px ;
}

div.header{
  width: 100%;
  background: #f685a1;
  padding: 10px 0px;
  text-align: right;
} 
div.header a{
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}
div.banner{
   background: url(img/home1.jpg) rgba(0,0,0,0.1)
  no-repeat center center fixed;
  background-size: cover;
  /* text-align: center; */
  height: 80vh;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  
}
.homepagecontainer{
width: 800%;
max-width: 1000px;
margin: 0 auto;
}
.banerheader h1{
  font-size: 100px;

  color: #ff00d4;
  line-height: 100%;
}
 .banerheader p{
  font-size: 40px;
  color: #ff00d4;
  text-transform: uppercase;
  line-height: 100%;
}
p.bannertagline{
  margin-top: 20px;
  font-size: 25px;
  color: #f685a1;
  line-height: 100%;
}

div .bannericons{
margin-top: 50px;
}
div .bannericons a{
  font-size: 25px;
  margin-left: 40px;
  padding: 7px 15px;
  background: rgba(0,0,0,0.5);
  color: #ff0080;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}
div .bannericons a:first-child{
  margin-left: 0px;
} 
div .bannericons a:hover{
  color: #fff;
  font-size: 25px;
  background:#f685a1 ;
  transition: .5s all;
}
div .hoempagefeatures{
  display: flex;
  flex-direction: row;
  padding: 50px 0px;
}
div .hoempagefeature{
  padding: 10px 20px;
  text-align: center;
  width: 30.33%;
}
div.hoempagefeature:hover{
  border-bottom: 2px solid #f685a1;
  border-top: 2px solid #f685a1;
  transition: 0.5s all;
}
div .hoempagefeature span{
height: 80px;
width: 80px;
font-size: 50px;
background: #f685a1;
display: inline-block;
color: #fff;
/* padding-left: 8px; */
padding-top: 5px;
border-radius: 50%;
margin-bottom: 20px;
}
div .hoempagefeature h3{
  margin-bottom: 20px;
  font-size: 25px;
}

div .hoempagefeature p{
  color: #848484;
  font-size: 20px;
}

/* ,,,,,,,,,,,,,,,,,,,,,, */

.homepagenotifiedd{
  background: #e3e3e3;
  padding: 50px 0px;
  /* margin: 0%; */
}
.homepagenotifiedcontainer2{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  margin: auto;
  /* width: 80%; */ 
  /* padding: 20px 0px;   */
}
 /* .homepagenotifiedcontainer > div{
  width: 40%;
} */
div.emailform{
  width: 40%;
}
div .vedio{
  width: 60%;
  text-align: center;
}
div .homepagenotifiedd h3{
  margin-bottom: 20px;
  /* font-size: 30px; */
}
div .homepagenotifiedd p{
  color: #f685a1;
  line-height: 190%;
  margin-bottom: 30px;
  }
  div .formcontainer{
    width: 80%;
    position: relative;
  }
  
  div .formcontainer input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 15px;
    border: none;
  }
  div .formcontainer input:focus{
    outline: none;
  }
  div .formcontainer button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: #f685a1;
    border: noe;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  /* .vedio{
    width: 100%;
    margin-left: 20px;
    padding-left: 30px;
  } */
  .iframe{
    width: 100%;
    height: 100%;
  }
  .socials{
    text-align: center;
    padding: 60px 0px 30px 0px;
  }
  p.socialtext{
    margin-top: 15px;
    margin-bottom: 25px;
    color: #848484;
  }
  div .socialiconscontainer a{
    font :23px;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-top: 7px;
    background: #d4d4d4;
    border-radius: 50px;
    color: #fff;
    margin-left: 20px;
  }
  div .socialiconscontainer a:hover {
    background: #f8a4b9;
  }
  div.footer {
    background: #e3e3e3;
    padding-top:50px ;
    padding-bottom: 50px;
    text-align: center;
  }
  div.footer a{
    color: #ff00d4;
    margin-left: 30px;
    text-decoration: none;
  }
  
  div.footer a:hover{
    color: #f8a4b9;
    font-weight: bold;
    border-bottom: 2px solid #ff0080;
  }
  